
[app]

name = "ziyan"
interval = 5

title = ""
title_like = "SciTE"

process = "python.exe"

#plugins = ['plugins.winwin.weiss_check.WeissCheck', 'plugins.winwin.weiss_handler.MsgHandler']




    [[app.plugin]]
    path='plugins.plc.plc_command.PLCCommand'
    channel= 'plc_command'
    in_q = 'plc_cmd'
    out_q = 'plc_chd'

    [[app.plugin]]
    path='plugins.plc.plc_check.PLCCheck'
    channel= 'plc_check'
    in_q = 'plc_chd'
    out_q = 'plc_had'

    [[app.plugin]]
    path='plugins.plc.plc_handler.PLCHandler'
    channel= 'plc_handler'
    in_q = 'plc_had'
    out_q = 'plc_end'


[dam_equipment]
equipmentno = "temperature-sensor"

[logging]

debug = true
logfile = "logs/plc.log"
backup_count = 5
max_size = 1048576
format_string = '({record.time:%Y-%m-%d %H:%M:%S.%f%z}),{record.level_name},[{record.thread_name}],{record.channel},{record.func_name}[{record.lineno}]: {record.message}'

[redis]

host = "127.0.0.1"
port = 6389
db = 3

[influxdb]
host = "127.0.0.1"
port = 8086
username ="root"
password = "root"
db = "mabo"

# s: second
time_precision = "s"

###=========================================================

[checker]

target = 'setting'
interval = 5

points = [[39, 42], [36, 46], [20, 11]]
position = ['running', 'stop', 'ref']
green = [0, 255, 0]
white = [255, 255, 255]
ref = [198, 198, 198]

[handler]
#interval = 5

[handler.tags]
eqpt_no = "eqpt02"
node = "n1"
zone = "zone1"

[output]
measurement = "winwin"
enqueue_script = 'lua/enqueue_v0.1.lua'
channel = "ch1"

[output.tags]
eqpt_no = "eqpt02"
node = "n1"
zone = "zone1"









